<h1>Academics#index</h1>
<p>Find me in app/views/academics/index.html.erb</p>
<% # ask  10/11 %>
<p> Reached here from pulic/index.html link /academics </p>
<p> /academics means first go to controllers/academics_controller.rb </p>
<p></p>
<p> On seeing that it has only an empty index method there </p>
<p> the routing reaches here as it is the view for academics</p>
<% # ask  21/10 %>
<%#= link_to "Sign up", new_user_registration_path %>
<%#= link_to "Sign in", new_user_session_path %>
<p>In app/views/academics/index.html.erb after "Sign in", new_user_session_path</p>
